.Inline_icon{
    /* display: inline-block; */
    vertical-align: middle;
    
}

.Inline_icon > img{
    height: 90%;
    width: auto;
    margin: auto;
}

.Theme_icon{
    text-align: center;
    height: 50px;
    display: block;
    width: auto;
    cursor: pointer;
}

button{
    color: inherit;
}

button[role="switch"]{
    font-weight: 600;
    background-color: transparent;
    outline: none;
    border: none;
    transition: background-color 200ms;
}

button[role="switch"]:hover{
    background-color: aqua;
}