@import "Main";

.Detail_container{
    @include mode("text", false);

    // background-color: $lightMode_elements;
    // @include mode("elements", true);
    position: absolute;
    left: 50%; top: 50%; transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    & .Detail_back{
        width: max-content;
        padding: 10px;
    }

    & .Detail_info{

        display: grid; 
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: center;
        column-gap: 100px;
        grid-template-columns: 425px repeat(2, 200px); 
        grid-template-rows: minmax(50px, 75px) minmax(200px, 225px) minmax(50px, 75px);

        grid-template-areas: 
          "flag title title"
          "flag body_1 body_2"
          "flag keyword keyword"
    }

    & .Detail_flag{
        // height: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            object-fit: fill;
            object-position: right;
        }
    }

    & ul{
        @include no_list();
    }


    & .Detail_keyword{
        line-height: 2;
        text-align: left;
    }
}



.Detail_flag{grid-area: flag;}
.Detail_title{grid-area: title;}
.Detail_body_1{grid-area: body_1;}
.Detail_body_2{grid-area: body_2;}
.Detail_keyword{grid-area: keyword;}