@import "Main";

.Detail_container{
    @include mode("text", false);

    // background-color: $lightMode_elements;
    // @include mode("elements", true);
    position: absolute;
    left: 50%; top: 50%; transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    & .Detail_back{
        width: max-content;
        padding: 10px;
    }

    & .Detail_info{

        display: grid; 
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: center;
        column-gap: 100px;
        grid-template-columns: 425px repeat(2, 215px); 
        grid-template-rows: minmax(50px, 75px) minmax(200px, 225px) minmax(50px, 125px);

        grid-template-areas: 
          "flag title title"
          "flag body_1 body_2"
          "flag keyword keyword";
    }

    & .Detail_flag{
        // height: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            max-height: 275px;
            object-fit: fill;
            object-position: right;
        }
    }

    & ul{
        @include no_list();
    }


    & .Detail_keyword{
        line-height: 2;
        text-align: left;
    }
}



.Detail_flag{grid-area: flag;}
.Detail_title{grid-area: title;}
.Detail_body_1{grid-area: body_1;}
.Detail_body_2{grid-area: body_2;}
.Detail_keyword{grid-area: keyword;}



@include tablet{
    .Detail_container{    
        & .Detail_info{
            column-gap: 20px;
            grid-template-columns: 400px 215px; 
            grid-template-rows: minmax(50px, 75px) minmax(150px, 205px) minmax(50px, 125px) minmax(50px, 125px);
            row-gap: 5px;
            grid-template-areas: 
            "flag title"
            "flag keyword"
            "body_1 ."
            "body_2 .";
        }
    }
}


@include mobile{
    .Detail_container{
        position: relative;
        left: unset; top: unset; transform: unset;
        margin: auto;
        width: unset;
        align-items: stretch;
        & .Detail_back{
            padding: 30px 10px;
        }
        & .Detail_info{
            column-gap: 20px;
            grid-template-columns: 325px; 
            grid-template-rows: minmax(50px, 75px) minmax(150px, 205px) 50px minmax(50px, 125px) minmax(50px, 100px);
            row-gap: 5px;
            grid-template-areas: 
            "flag"
            "flag"
            "title"
            "body_1"
            "body_2"
            "keyword";
        }
    }
    .Detail_keyword{padding-bottom: 10px;}
}