@import 'Main';

@mixin no_list{
    padding: 0;
    margin: 0;
    & li{
        list-style: none;
        line-height: 1.5;
    }
}

.Flag_container{
    border-radius: 5px;
    overflow: hidden;
    /* justify-self: stretch; */
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    cursor: pointer;
    transition: all 400ms !important;
    box-shadow: 0 1.5px 6px 1.5px hsl(0, 0%, 85%);
    @include mode("elements", true);

    &:hover{
        // background-color: $lightMode_background;
        transform: scale(1.05);
    }

    & .Flag_svg{
        height: 140px;
        overflow: hidden;
        vertical-align: sub;
        img{
            width: 250px;
            height: 150px;
            max-height: 250px;
            object-fit: cover;
            object-position: center;
        }
    } 
    & ul{
        @include no_list();
    }
    & > div:not(:first-child){
        padding-left: 15px;
    }

    & > div:last-child h4{
        margin-right: 5px;
    }
}
