.Grid_container{
    display: grid; 
    grid-auto-flow: dense; 
    justify-content: space-evenly;
    align-items: center;
    align-content: start;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: minmax(50px, 1fr) repeat(auto-fill, minmax(100px, 200px)); 
    grid-auto-rows: minmax(100px, 200px);
    gap: 10px; 
    grid-template-areas: 
      "search search search filter"
      ". . . ."; 
}
.Grid_search { grid-area: search; }
.Grid_filter { grid-area: filter; }



.Grid_body{
    background-color:hsl(0, 0%, 98%) ;
    height: calc(100vh - 2px - 50px);
}

.Grid_body > div{
    width: 90%;
    margin: auto;
}